@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.highlighted {
    background-color: #BFD460;
    padding: 0 5px;
    color:#262520;
    font-weight: 600;
    width: fit-content;
}

a {
    color: white
}

.light a {
    color: black
}

p {
    line-height: 1.7em;
    font-size: .9em
}

h1 {
    margin: 0
}

h2 {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
}

.colorized {
    color: #BFD460
}

body {
    background-color: #070707;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: background-color 0.2s;
}

.light {
    background-color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black
}

.page {
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
}

@media only screen and (max-width:768px) {
  .page {
    flex-direction: column;
    height: 100% !important;
  }
  .page-column {
    width: 100% !important;
    height: auto !important;
    padding-block: 30px;
  }
  .page-column:last-child {
  height: 500px !important
}
  .page-container {
    max-width: 350px !important;
  }
}

.page-column {
  height: 100dvh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  max-width: 450px;
}

svg {
  height: 25px;
  width: 25px;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  text-align: center;
}

.btn path {
  fill: black
}

.page-column:last-child {
  background-image: url("https://i.ibb.co/R7FsntC/luca-biondi-online-marketing-ecommerce-booster.webp");
  background-size: cover;
  background-position: center center;
  transition: background-image 0.22s;
}

.light .page-column:last-child {
  background-image: url("https://i.ibb.co/J2SMDfN/Firefly-Scheletro-che-indossa-gli-occhiali-sfondo-completamente-bianco-maglietta-nera-capelli-scu-co.jpg");
}
