@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.highlighted {
    border: 1px solid white;
    padding: 7px;
    color:white;
    font-weight: 400;
    width: fit-content;
    font-size: 1.3rem;
    margin-top: 5px
}

a {
    color: white
}

.light a {
    color: black
}

p {
    line-height: 1.7rem;
    font-size: 1.1em
}

h1 {
    margin: 0
}

h2 {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

input {
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    font-size: 1.1rem;
    background: none;
    border: 0;
    border-bottom: 1px solid #bbb;
    color: white;
    margin-top: 10px
}

#yourbusiness {
    display: none;
}

.colorized {
    color: #BFD460
}

body {
    background-color: black;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    color: white;
}

.page {
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:768px) {
  .page {
    flex-direction: column;
    height: 100dvh !important;
  }
  .page-column {
    width: 100% !important;
    padding-block: 30px;
  }
  .page-column:last-child {
  height: 500px !important
}
  .page-container {
    width: 100%;
    padding-inline: 20px
  }
}

.page-column {
  height: 100dvh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  max-width: 600px;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}
